.landing .navigation {
    width: 100%;
    background-color: #fff;
    height: 78px;
    text-align: center;
}

.landing .navigation .logo-area {
    display: inline-block;
    width:200px;
    height:78px;
    float: left;
}

.landing .navigation .logo-area .logo-img {
    width: 130px;
    height: 22px;
    margin-top: 30px;
    margin-left: 32px;
    cursor: pointer;
}

.landing .navigation .navigation-area {
    height: 78px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.landing .navigation .navigation-button-box {
    display: inline-block;
    padding-top: 35px;
    height: 20px;
    width: 84px;
}

.landing .navigation .navigation-button-box button {
    opacity: 0.87;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
}

.landing .navigation .navigation-button-box button.signup {
    color: #ef5350;
    width:85px;
}

.landing .navigation .signin-area {
    float: right;
    height: 50px;
    vertical-align: top;
    display: inline-block;
    width: 120px;
    padding-top: 35px;
    padding-right: 35px;
    text-align: right;
}

.landing .navigation .signin-area button {
    font-size: 12px;
    color: #ef5350;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.landing .main {
    height:300px;
    background-color: #F4f5f5;
    background: url("../img/landing_main.png");
    background-size: 100% 100%;
}

.landing .main .center-container {

    margin: 0 auto;
    width:350px;
    font-size: 0;
    background-color: transparent;
    margin-left: 41.7%;
        padding-top: 100px;
}

.landing .main .center-container h2 {
    margin:0 auto;
    color: #EF5350;
    margin-bottom: 15px;
    font-size: 27px;
}

.landing .main .center-container h3 {
    margin:0 auto;
    color: #ffffff;
    font-size: 21px;
}

.landing .main .center-container .main-button-area {
    width: 70px;
    display: inline-block;
    height: 47px;
}

.landing .main .center-container .main-button {
    width: 47px;
    height: 47px;
    border: 0px;
}

.landing .main .center-container .main-button.camera {
    background: url("../img/camera-gray.png");
    background-size: 47px 47px;
}

.landing .main .center-container .main-button.camera:hover {
    background: url("../img/camera-red.png");
    background-size: 47px 47px;
}

.landing .main .center-container .main-button.gallery {
    background: url("../img/gallery-gray.png");
    background-size: 47px 47px;
}

.landing .main .center-container .main-button.gallery:hover {
    background: url("../img/gallery-red.png");
    background-size: 47px 47px;
}

.landing .main .center-container .main-button.folder {
    background: url("../img/folder-gray.png");
    background-size: 47px 47px;
}

.landing .main .center-container .main-button.folder:hover {
    background: url("../img/folder-red.png");
    background-size: 47px 47px;
}

.landing .after-login-area {
    width: 100%;
    color: red;
    text-align: center;
    background-color: #EF5350;
    height: 45px;
    margin:0 auto;
}

.landing .after-login-area .cash-status {
    height: 45px;
    width: 32%;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.3);

}

.landing .after-login-area .cash-status .fixed {
    font-size: 15px;
    opacity: 0.87;
    color: white;
    width: 60%;
    display: inline-block;
    padding-top: 10px;
}

.landing .after-login-area .cash-status .changeable {
    font-size: 15px;
    opacity: 0.87;
    font-weight: bold;
    color: white;
    width: 30%;
    display: inline-block;
    padding-top: 10px;
}

.landing .after-login-area .cash-charge {
    margin: 0 auto;
    width: 32%;
    font-size: 15px;
    opacity: 0.87;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    height: 45px;
}

.landing .after-login-area .bought-notes {
    height: 45px;
    width: 32%;
    font-size: 15px;
    opacity: 0.87;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding-top: 10px;
}

.landing .search {
    font-size: 0;
    width: 100%;
    margin: 0 auto;
}

.landing .search .search-area {
    width: 50%;
    display: inline-block;
    height: 336px;
    vertical-align: top;
}
.landing .search .class{
    background-color:#EEEEEE;
    margin: 0 auto;
}
.landing .search .class button{
    border:none;
    margin:0 auto;
    width:100%;
    height:100%;
    background: inherit;
}
.landing .search .class h4 {
    font-size: 18px;
    margin:0 auto;
    color: #EF5350;
   margin-left:62px;
    text-align: left;
    vertical-align: top;
}
.landing .search .class h5 {
 font-size:12px;
    color:#000000;
    text-align: left;
    margin-left: 62px;
    margin-top: 15px;
    opacity: 0.38;
    margin-bottom:220px;
}
.landing .search .class .b{
    background: url("../img/table_temp.png");
    background-size:100% 100%;
}

.landing .search .search-area.school {
    background-color: #e0e0df;
    margin: 0 auto;
}

.landing .search .search-area.school .search-form {
    margin-top: 32px;
    margin-left: 31px;
}

.landing .search .search-area.school .search-form input[type="text"] {
    font-size: 14px;
    opacity: 0.38;
    width: 87%;
    height: 40px;
    background-color: white;
}
.landing .search .search-area.school .search-form .input-group-addon{
    font-size: 16px;
}

.landing .search .search-area.school h4 {
    font-size: 14px;
    opacity: 0.38;
    text-align: left;
    color:#000000;
    margin-left:31px;
    margin-top:16px;
}

.landing .search .search-area.school .texts {
    font-size: 14px;
    opacity: 0.38;
    margin-top: 12px;
    margin-left: 31px;
}
.landing .search .search-area.school .form{
    text-align: center;
    background: white;
    margin:0 auto;
    margin-top:20px;
    margin-left:31px;
    width:87%;
    height:140px;
}
.landing .search .school .contents{
    margin-top:10px;
    margin-left:10px;
}
.landing .search .school .contents tr th{
    font-size:14px;
    opacity: 0.5;
    width:70px;
    text-align: center;
}

.landing .register-area {
    background-color: #EF5350;
    height: 325px;
    width: 100%;
    margin:0 auto;
}
.landing .register-area .texts{
    color:#FFFFFF;
    font-size:17px;
    width:100%;
    padding-top:39px;
    text-align: center;
}
.landing .register-area .register{
    margin-top:50px;
}
.landing .register-area input{
    font-size:17px;
    border: none;
    background: inherit;
}
input[class="name"]::-webkit-input-placeholder{
    color:white !important;
}
input[class="e-mail"]::-webkit-input-placeholder{
    color:white !important;
}
input[class="pw"]::-webkit-input-placeholder{
    color:white !important;
    opacity: 0.38;
}
input[class="pw-confirm"]::-webkit-input-placeholder{
    color:white !important;
    opacity: 0.38;
}
.landing .register-area .name-name{
    display: inline-block;
    margin-left:7%;
    width:34%;
}
.landing .register-area .pw-pw{
    display: inline-block;
    width:34%;
    margin-left:17%;
    margin-right:7%;
}
.landing .register-area .e-mail-e-mail{
    display: inline-block;
    margin-left:7%;
    width:34%;
}
.landing .register-area .pw-confirm-pw-confirm{
    display: inline-block;
    width:34%;
    margin-left:17%;
    margin-right:7%;
}
.landing .register-area .name-border{
    width:34%;
    margin-left:7%;
    display: inline-block;
    margin-top:5px;
    background-color: white;
    height:1px;
    margin-bottom: 56px;
}
.landing .register-area .pw-border{
    width:34%;
    margin-left:17%;
    margin-right: 7%;
    display: inline-block;
    margin-top:5px;
    background-color: white;
    height:1px;
    margin-bottom: 56px;
}
.landing .register-area .e-mail-border{
    width:34%;
    margin-left:7%;
    display: inline-block;
    
    background-color: white;
    height:1px;
}
.landing .register-area .pw-confirm-border{
    width:34%;
    margin-left:17%;
    margin-right: 7%;
    display: inline-block;
    
    background-color: white;
    height:1px;
}
.landing .register-area button{
    border:none;
    font-size:17px;
    color:white;
    background: inherit;
    margin-top:39px;
    margin-left:80%;
}


