<div>
    <div class="main">
        <div class="center-container">
            <h2>노트 올리기</h2>
            <h3>당신의 노트를 올려보세요 </h3>
            <div class="main-button-area">
                <button class="main-button camera">
                </button>
            </div>
            <div class="main-button-area">
                <button class="main-button gallery">
                </button>
            </div>
            <div class="main-button-area">
                <button class="main-button folder">
                </button>
            </div>

        </div>
    </div>
    <div class="search">
        <div class="search-area class">
            <i class="search-img fa fa-sticky-note-o"></i>
            <div>
                <h4>당신의 수업 스케쥴을 통해</h4>
                <h4>필요한 노트를 바로 찾아보세요</h4>
            </div>
            <button class="class-register-button">
                나의 수업 바로 등록하기
            </button>
        </div>
        <div class="search-area school">
        </div>
    </div>
    <div class="register-area">
   
    </div>
</div>