<div class="landing">
  <div class="navigation">
    <div class="logo-area">
     <img  ui-sref="home.main" class="logo-img" src="../module/landing/img/logo.png">
      </div>
    <div class="navigation-area">
      <div class="navigation-button-box">
        <button ui-sref="home.upload">올리기</button>
      </div>
      <div class="navigation-button-box">
        <button>구매하기</button>
      </div>
      <div class="navigation-button-box">
        <button ui-sref="home.myclass">나의수업</button>
      </div>
      <div class="navigation-button-box">
        <button>나의노빌</button>
      </div>
      <div class="navigation-button-box">
        <button class="signup" ui-sref="home.signup">SIGN UP</button>
      </div>
    </div>
    <div class="signin-area">
         <button ng-show="isSignIn" ng-click="signOut()">LOG OUT</button>
      <button ng-show="!isSignIn"  ng-click="signIn()">LOG IN</button>
    </div>
  </div>
  <div data-ui-view="mainView">
      
  </div>
  
</div>
