<div>
    <div class="main">
        <div class="center-container">
            <h2>노트 올리기</h2>
            <h3>당신의 노트를 올려보세요 </h3>
            <div class="main-button-area">
                <button class="main-button camera">
                </button>
            </div>
            <div class="main-button-area">
                <button class="main-button gallery">
                </button>
            </div>
            <div class="main-button-area">
                <button class="main-button folder">
                </button>
            </div>

        </div>
    </div>
    <div class="after-login-area">
        <div class="cash-status">
            <div class="fixed">충전 잔액 + 노트 수익금</div>
            <div class="changeable">145,000원</div>
        </div>
        <div class="divider-left"></div>
        <div class="cash-charge">충전하기</div>
        <div class="divider-right"></div>
        <div class="bought-notes">구매한 노트보기</div>
    </div>
    
    <div class="search">
        <div class="search-area class">
            <i class="search-img fa fa-sticky-note-o"></i>
            <div>
                <h4>당신의 수업 스케쥴을 통해</h4>
                <h4>필요한 노트를 바로 찾아보세요</h4>
            </div>
            <button class="class-register-button">
                나의 수업 바로 등록하기
            </button>
        </div>
        <div class="search-area school">
            <div class="search-form">
               <input type="text" class="s-form" placeholder="       어떤 노트를 찾으세요?" style="background-color:white">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
                <h4>#학교 #학과 #수업 내용</h4>
                <div class="texts">
                    필요한 과목의 노트와 공부 자료들을 찾아보세요
                </div>
            
            </div>
        </div>
    </div>
    
    
    
    <div class="register-area">
   
    </div>
</div>