<div class="landing">
  <div class="navigation">
    <div class="logo-area">
      <img class="logo-img" src="../module/landing/img/logo.png">
    </div>
    <div class="navigation-area">
      <div class="navigation-button-box">
        <button>올리기</button>
      </div>
      <div class="navigation-button-box">
        <button>구매하기</button>
      </div>
      <div class="navigation-button-box">
        <button>나의수업</button>
      </div>
      <div class="navigation-button-box">
        <button>나의노빌</button>
      </div>
      <div class="navigation-button-box">
        <button class="signup">Sign Up</button>
      </div>
    </div>
    <div class="signin-area">
      <button>Log In</button>
    </div>
  </div>
  <div class="main">
    <div class="center-container">
      <h2>노트 올리기</h2>
      <h3>당신의 노트를 올려보세요</h3>
      <div class="main-button-area">
        <button class="main-button camera">
        </button>
      </div>
      <div class="main-button-area">
        <button class="main-button gallery">
        </button>
      </div>
      <div class="main-button-area">
        <button class="main-button folder">
        </button>
      </div>

    </div>
  </div>
  <div class="search">
    <div class="search-area class">
    </div>
    <div class="search-area school">
    </div>
  </div>
</div>
