<div class="myclass-container">
    <div class="class-info">
        <button class="semester">2016 봄학기</button>
        <div class="input-group">

            <input type="text" class="form-control search-form" placeholder="#과목명 #과목코드 #교수님 성함" style="font-size:8pt; border:none; background-color:inherit; border-radius:0px">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="border:none; background-color:inherit; opacity:0.38"><i class="fa fa-search"></i></button>
        </span>

        </div>
        <div class="divider"></div>
        <div class="class-list">
            <ul class="list-group">
                <li class="list-group-item 1">공학통계 II</li>
                <li class="list-group-item 2">산업 정보 개론</li>
                <li class="list-group-item 3">미적분학 I</li>
                <li class="list-group-item 4">English and American Culture</li>
                <li class="list-group-item 5">산업 정보 개론</li>
            </ul>
        </div>
        <button class="finish" type="submit">수업 등록 마침</button>
    </div>
    <div class="time-table">
        <table class="contents">
            <tr>
                <th>시간</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th class="last">Fri</th>
            </tr>
            <tr>
                <td class="first very">8 AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last very"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">9 AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">10 AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">11 AM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">12 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">1 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">2 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">3 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">4 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">5 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">6 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">7 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">8 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first">9 PM</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            </table>

    </div>

</div>