<div class="myclass-container">
    <div class="class-info">
        <button class="semester">2016 봄학기</button>
        <h2>과목명/교수님 성함으로 수업 검색</h2>
            <div class="input-group">

            <input type="text" class="form-control search-form" style="font-size:8pt; border:none; background-color:inherit; border-radius:0px">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="border:none; background-color:inherit; opacity:0.38; font-size:16px"><i class="fa fa-search"></i></button>
        </span>

        </div>
        <div class="divider"></div>
        <div class="class-list">
            <ul class="list-group">
                <li class="list-group-item 1">공학통계 II</li>
                <li class="list-group-item 2">산업 정보 개론</li>
                <li class="list-group-item 3">미적분학 I</li>
                <li class="list-group-item 4">English and American Culture</li>
                <li class="list-group-item 5">산업 정보 개론</li>
            </ul>
        </div>
        <button class="finish" type="submit">수업 등록 마침</button>
    </div>
    <div class="time-table">
        <table class="contents">
            <tr>
                <th>시간</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th class="last">Fri</th>
            </tr>
            <tr>
                <td class="first very" rowspan="2">8 <h2>AM</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last very"></td>
            </tr>
            <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">9 <h2>AM</h2> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">10 <h2>AM</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="green o">공학통계 I</td>
                <td></td>
                <td class="green o">공학통계 I</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">11 <h2>AM</h2></td>
                <td></td>
                <td class="green t">김희영</td>
                <td></td>
                <td class="green t">김희영</td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="green t">산업경영학동</td>
                <td></td>
                <td class="green t">산업경영학동</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">12 <h2>AM</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">1 <h2>PM</h2></td>
                <td class="purple o">Introduction to mass</td>
                <td class="pink o">언어의 이해</td>
                <td class="purple o">Introduction to mass</td>
                <td class="pink o">언어의 이해</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="purple o">communication</td>
                <td class="pink t">시정곤</td>
                <td class="purple o">communication</td>
                <td class="pink t">시정곤</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">2 <h2>PM</h2></td>
                <td class="purple t">인문사회동 1209-1</td>
                <td class="pink t">인문사회동 1313호</td>
                <td class="purple t">인문사회동 1209-1</td>
                <td class="pink t">인문사회동 1313호</td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td class="orange o">Violin Family</td>
                <td class="s-green o">열역학</td>
                <td></td>
                <td class="s-green o">열역학</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">3 <h2>PM</h2></td>
                <td class="orange o">Instrument Making</td>
                <td class="s-green t">최상민</td>
                <td></td>
                <td class="s-green t">최상민</td>
                <td class="last"></td>
            </tr>
            <tr>
             <td class="orange t">인문사회동 1319호</td>
                <td class="s-green t">창의학습관 304호</td>
                <td></td>
                <td class="s-green t">창의학습관 304호</td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">4 <h2>PM</h2></td>
                <td></td>
                <td class="red o">제품 디자인 요소</td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="red t">남택진</td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">5 <h2>PM</h2></td>
                <td></td>
                <td class="red t">산업디자인동 215호</td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="red"></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">6 <h2>PM</h2></td>
                <td></td>
                <td class="red"></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="red"></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">7 <h2>PM</h2></td>
                <td></td>
                <td class="red"></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td class="red"></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">8 <h2>PM</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                <td class="first" rowspan="2">9 <h2>PM</h2></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="last"></td>
            </tr>
            </table>

    </div>

</div>




